
# ignore IDE settings
.idea/

# symfony bootstrap
app/bootstrap.php.cache

# symfony cache
app/cache/*
!app/cache/.gitkeep

# symfony logs
/app/logs/*
!/app/logs/.gitkeep

# main parameters
app/config/parameters.yml

# symfony binary files
bin/*

# composer bundles
vendor/

# ignore composer lock file
/composer.lock

/web/assets/*
/web/bundles/
